<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidlabs.semesterproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launch_app_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch_app_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">
        <activity
            android:name=".DonationsList"
            android:exported="false"
            android:theme="@style/Theme.SemesterProject" />
        <activity
            android:name=".ThankYouDonation"
            android:exported="false"
            android:theme="@style/Theme.SemesterProject" />
        <activity
            android:name=".ItemsDonations"
            android:exported="false"
            android:theme="@style/Theme.SemesterProject" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:theme="@style/Theme.SemesterProject" />
        <activity
            android:name=".About"
            android:exported="false"
            android:theme="@style/Theme.SemesterProject" />
        <activity
            android:name=".Work"
            android:exported="false"
            android:theme="@style/Theme.SemesterProject" />
        <activity
            android:name=".Volunteer"
            android:exported="false"
            android:theme="@style/Theme.SemesterProject" />
        <activity
            android:name=".Donate"
            android:exported="false"
            android:theme="@style/Theme.SemesterProject" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>